  $primary-color: #F9A307;
  $seconday-color: #141520;
  $white-color: #ffffff;
  $text-color: #F8F0F0;
  $heading-color: #1F2133;
  $para-color: #676DA2;
  /*----------------------------------------*/
  /* Template default CSS
/*----------------------------------------*/
  
  html,
  body {
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-color: #11121C !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    color: $white-color;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 170%;
  }
  
  h1 {
    font-size: 56px;
  }
  
  h2 {
    font-size: 36px;
  }
  
  h3 {
    font-size: 30px;
  }
  
  h4 {
    font-size: 24px;
  }
  
  h5 {
    font-size: 18px;
  }
  
  h6 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: $white-color;
  }
  
  p {
    display: block;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #F8F0F0;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
  }
  
  span,
  a {
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
  blockquote {
    font-family: 'Oswald', sans-serif;
    margin-top: 32px !important;
    margin-bottom: 48px !important;
  }
  
  .notification {
    color: $primary-color;
  }
  
  .page-title {
    font-size: 112px;
  }
  
  .services-cover-title {
    font-size: 72px;
  }
  
  .services-cover-desc {
    justify-content: flex-end;
    align-self: flex-end;
  }
  
  .media-container {
    max-height: 658px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .page-description {
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
  .title-description {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
    color: $text-color;
  }
  
  .sub-description {
    font-size: 24px;
    font-weight: 300;
    line-height: 150%;
    color: $text-color;
  }
  
  img {
    max-width: 100%;
  }
  
  input:focus,
  select:focus,
  button:focus,
  textarea:focus {
    outline: none;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
  }
  
  ul,
  ol {
    padding: 0;
    margin: 0;
  }
  
  .mb-6 {
    margin-bottom: 56px;
  }
  
  .mb-7 {
    margin-bottom: 64px;
  }
  
  .mb-8 {
    margin-bottom: 72px;
  }
  
  .mb-9 {
    margin-bottom: 80px;
  }
  
  .mb-10 {
    margin-bottom: 88px;
  }
  
  .mb-11 {
    margin-bottom: 96px;
  }
  
  .mt-n-11 {
    margin-top: -11px;
  }
  
  .mt-9 {
    margin-top: 80px;
  }
  
  .client-spad {
    margin-top: 130px;
    & h3 {
      color: $seconday-color;
    }
    & .table td {
      font-family: 'IBM Plex Sans', sans-serif;
      border-top: none;
      border-bottom: 1px solid #E6E7EF;
      &.label {
        width: 20%;
        padding-left: 0;
        color: #464A72 !important;
      }
      &.data {
        color: $heading-color !important;
      }
    }
    th {
      border-top: none !important;
      font-family: 'IBM Plex Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #464A72;
    }
    & .card {
      border-radius: 1px;
      width: 100%;
      & .card-header {
        background-color: #464A72;
        color: $text-color;
        font-family: 'Oswald', sans-serif;
        font-size: 36px;
        font-weight: normal;
        line-height: 53px;
        text-transform: uppercase;
        & a {
          color: $text-color;
          font-family: 'Oswald', sans-serif;
          font-size: 36px;
          font-weight: normal;
          line-height: 53px;
          text-transform: uppercase;
          text-decoration: underline;
        }
      }
      & .card-body {
        h4,
        h6 {
          color: $heading-color !important;
        }
        .card-title {
          font-size: 24px;
          color: $heading-color !important;
        }
        .card-text {
          font-size: 18px;
          color: $heading-color !important;
        }
        a {
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: 0.12em;
          text-decoration-line: underline;
          text-transform: uppercase;
          color: #1F2133;
        }
      }
    }
  }
  /*---------------------
  Helper CSS
-----------------------*/
  
  .section-title {
    margin-bottom: 45px;
    text-align: center;
    h2 {
      color: $white-color;
      font-size: 32px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 8px;
    }
  }
  
  .primary-btn {
    display: inline-block;
    font-size: 17px;
    padding: 21px 40px !important;
    color: $seconday-color !important;
    background-color: $primary-color !important;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 700 !important;
    border-radius: 1px !important;
    border: none;
    &.btn-normal {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      &:hover,
      a:hover {
        background: $primary-color;
        border: none;
        color: $seconday-color !important;
        text-decoration: none !important;
      }
    }
  }
  
  .hero-section {
    height: 100%;
    overflow: hidden;
    & .setBg {
      width: 100%;
      height: 100%;
      padding-top: 352px;
      padding-bottom: 302px;
      background-image: linear-gradient(180deg, rgba(31, 33, 51, 0) 0%, #11121C 100%), url('../images/cover-img.jpg');
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }
    & .set-description {
      width: 100%;
      height: 100%;
      padding-top: 220px;
      padding-bottom: 120px;
    }
    & .blogBg {
      width: 100%;
      height: 100%;
      padding-top: 190px;
      padding-bottom: 120px;
      background-image: linear-gradient(180deg, rgba(31, 33, 51, 0) 0%, #11121C 100%), url('../images/blog-post-img.jpg');
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      & .hero-content {
        max-width: 850px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    & .hero-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & .left-hero-content {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
    & .page-description {
      margin-bottom: 80px;
    }
    & .header-bottom-gradient {
      position: absolute;
      width: 100%;
      height: 164px;
      left: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(31, 33, 51, 0) 0%, #11121C 100%);
      z-index: 9;
    }
  }
  
  .spad {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .spad-2 {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  
  .text-white h1,
  .text-white h2,
  .text-white h3,
  .text-white h4,
  .text-white h5,
  .text-white h6,
  .text-white p,
  .text-white span,
  .text-white li,
  .text-white a {
    color: #fff;
  }
  /* buttons */
  
  .primary-btn-small {
    display: inline-block;
    font-size: 15px;
    padding: 12px 24px !important;
    color: $seconday-color !important;
    background-color: $primary-color !important;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 700 !important;
    border-radius: 1px !important;
    &.btn-normal {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      &:hover,
      a:hover {
        background: $primary-color;
        border-color: $primary-color;
        color: $seconday-color !important;
        text-decoration: none !important;
      }
    }
  }
  
  .secondary-btn {
    display: inline-block;
    font-size: 17px;
    padding: 21px 40px !important;
    color: $primary-color !important;
    background-color: transparent !important;
    border: 1px solid $primary-color;
    box-sizing: border-box;
    border-radius: 1px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 700 !important;
    border-radius: 1px !important;
    &.btn-normal {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      &:hover,
      a:hover {
        color: #010101 !important;
        background-color: $primary-color !important;
        border: 1px solid $primary-color;
        text-decoration: none !important;
      }
    }
  }
  /* Preloder */
  
  #preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
  }
  
  .loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
  }
  
  @keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      border: 4px solid #f44336;
      border-left-color: transparent;
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      border: 4px solid #673ab7;
      border-left-color: transparent;
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      border: 4px solid #f44336;
      border-left-color: transparent;
    }
  }
  
  @-webkit-keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      border: 4px solid #f44336;
      border-left-color: transparent;
    }
    50% {
      -webkit-transform: rotate(180deg);
      border: 4px solid #673ab7;
      border-left-color: transparent;
    }
    100% {
      -webkit-transform: rotate(360deg);
      border: 4px solid #f44336;
      border-left-color: transparent;
    }
  }
  
  .spacial-controls {
    position: fixed;
    width: 111px;
    height: 91px;
    top: 0;
    right: 0;
    z-index: 999;
  }
  
  .spacial-controls .search-switch {
    display: block;
    height: 100%;
    padding-top: 30px;
    background: #323232;
    text-align: center;
    cursor: pointer;
  }
  
  .search-model {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    z-index: 99999;
  }
  
  .search-model-form {
    padding: 0 15px;
  }
  
  .search-model-form input {
    width: 500px;
    font-size: 40px;
    border: none;
    border-bottom: 2px solid #333;
    background: none;
    color: #999;
  }
  
  .search-close-switch {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    line-height: 28px;
    top: 30px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  /*---------------------
  Header
-----------------------*/
  
  .header-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 15px;
    padding-top: 55px;
    z-index: 99;
  }
  
  .logo {
    a {
      display: inline-block;
    }
  }
  
  .side-desktop {
    display: block;
    a {
      font-family: 'IBM Plex Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $white-color;
      &:hover,
      &:active {
        font-weight: 500;
        color: #F9A307 !important;
      }
    }
  }
  
  .side-mobile {
    display: none;
  }
  
  .nav-menu {
    text-align: center;
    ul {
      li {
        list-style: none;
        display: inline-block;
        margin-right: 32px;
        position: relative;
        z-index: 1;
        .dropdown {
          position: absolute;
          left: -30px;
          top: 58px;
          width: 180px;
          background: #252525;
          z-index: 99;
          text-align: left;
          padding: 13px 0 20px;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          li {
            margin-right: 0;
            display: block;
            a {
              display: block;
              text-transform: none;
              padding: 6px 0 6px 30px;
              font-weight: 400;
              &:after {
                display: none;
              }
            }
          }
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          &>a {
            color: $primary-color;
            &:after {
              opacity: 1;
            }
          }
        }
        &:hover {
          &>a {
            color: $primary-color;
            &:after {
              opacity: 1;
            }
          }
          .dropdown {
            opacity: 1;
            visibility: visible;
          }
        }
        a {
          color: $white-color;
          display: block;
          font-size: 15px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-family: 'IBM Plex Sans', sans-serif;
          padding: 10px 0px;
          position: relative;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          &:after {
            position: absolute;
            left: 0;
            top: 22px;
            height: 1px;
            width: 100%;
            background: $primary-color;
            content: "";
            -webkit-transform: rotate(-20deg);
            -ms-transform: rotate(-20deg);
            transform: rotate(-20deg);
            opacity: 0;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
          }
        }
      }
    }
  }
  
  .nav-login {
    color: #ffffff;
    display: block;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "IBM Plex Sans", sans-serif;
    position: relative;
    transition: all 0.3s;
    margin-right: 24px;
    z-index: 1;
    &.hover::after {
      position: absolute;
      left: 0;
      top: 22px;
      height: 1px;
      width: 100%;
      background: #F9A307;
      content: "";
      transform: rotate(-20deg);
      opacity: 0;
      transition: all 0.3s;
    }
  }
  
  .top-option {
    display: inline-flex;
    text-align: right;
    padding: 9px 0;
    .to-search {
      display: inline-block;
      padding-right: 20px;
      position: relative;
      &:after {
        position: absolute;
        right: 0;
        top: 5px;
        height: 15px;
        // width: 1px;
        // background: rgba(255, 255, 255, 0.3);
        content: "";
      }
      i {
        font-size: 16px;
        color: $white-color;
        cursor: pointer;
      }
    }
    .to-social {
      display: inline-block;
      a {
        display: inline-block;
        color: $white-color;
        font-size: 16px;
        margin-left: 15px;
      }
    }
    .nav-button {
      margin-top: -20px;
    }
  }
  
  .offcanvas-menu-wrapper {
    display: none;
  }
  
  .canvas-open {
    display: none;
  }
  /*---------------------
  Hero Section
-----------------------*/
  
  .hs-slider {
    &.owl-carousel {
      .owl-item {
        &.active {
          .hs-item {
            .hi-text {
              span {
                position: relative;
                top: 0;
                -webkit-transition: all .2s ease 0.2s;
                -o-transition: all .2s ease 0.2s;
                transition: all .2s ease 0.2s;
                opacity: 1;
              }
              h1 {
                position: relative;
                top: 0;
                -webkit-transition: all .4s ease 0.4s;
                -o-transition: all .4s ease 0.4s;
                transition: all .4s ease 0.4s;
                opacity: 1;
              }
              .primary-btn,
              .secondary-btn {
                position: relative;
                top: 0;
                -webkit-transition: all .6s ease 0.6s;
                -o-transition: all .6s ease 0.6s;
                transition: all .6s ease 0.6s;
                opacity: 1;
              }
            }
          }
        }
      }
      .owl-nav {
        button {
          height: 46px;
          width: 46px;
          color: #a9a9a9;
          background: rgb(255, 255, 255, .1);
          line-height: 46px;
          text-align: center;
          position: absolute;
          font-size: 24px;
          left: 30px;
          top: 50%;
          -webkit-transform: translateY(-23px);
          -ms-transform: translateY(-23px);
          transform: translateY(-23px);
          &.owl-next {
            left: auto;
            right: 30px;
          }
        }
      }
    }
    .hs-item {
      height: 1040px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      padding-top: 355px;
      .hi-text {
        span {
          display: block;
          font-size: 18px;
          color: $white-color;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 6px;
          margin-bottom: 18px;
          position: relative;
          top: 100px;
          opacity: 0;
        }
        h1 {
          font-size: 80px;
          color: $white-color;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 90px;
          margin-bottom: 42px;
          position: relative;
          top: 100px;
          opacity: 0;
          strong {
            color: $primary-color;
          }
        }
        .primary-btn {
          position: relative;
          top: 100px;
          opacity: 0;
        }
      }
    }
  }
  /*---------------------
  ChoseUs Section
-----------------------*/
  
  .choseus-section {
    max-width: 1720px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
  }
  
  .cs-item {
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
    &:hover {
      span {
        background: $primary-color;
        color: $white-color;
      }
    }
    .icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $heading-color;
      width: 174px;
      height: 174px;
      border-radius: 100%;
      margin-left: auto;
      margin-right: auto;
      & div {
        width: 100%;
        height: 100%;
      }
      & p {
        font-weight: 300;
        line-height: 140%;
        letter-spacing: 0.02em;
      }
    }
    span {
      height: 90px;
      width: 90px;
      background: rgb(255, 255, 255, .1);
      border-radius: 50%;
      display: inline-block;
      color: $primary-color;
      line-height: 90px;
      text-align: center;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }
    h4 {
      color: $white-color;
      font-size: 22px;
      font-weight: 600;
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }
  /*---------------------
  Classes Section
-----------------------*/
  
  .classes-section {
    max-width: 1920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgba(248, 240, 240, 0.12);
    padding-bottom: 80px;
    .section-title {
      margin-bottom: 35px;
    }
  }
  
  .free-quote-form {
    background-color: $heading-color;
    & form {
      margin: 48px;
      & label {
        font-size: 18px;
        font-weight: 300;
        color: $white-color;
        text-transform: uppercase;
        line-height: 140%;
        letter-spacing: 0.05em;
      }
      & input,
      textarea {
        border: 1px solid #676DA2;
        box-sizing: border-box;
        border-radius: 1px;
        background-color: transparent;
        height: 64px;
        color: $white-color;
        &:hover,
         :focus,
         :focus-within,
         :active,
         :visited {
          border: 1px solid #676DA2;
          box-sizing: border-box;
          border-radius: 1px;
          background-color: transparent;
          height: 64px;
          color: $white-color;
        }
      }
    }
  }
  
  .services {
    & .description {
      max-width: 563px;
      width: 100%;
      margin: auto;
    }
    & h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 140%;
    }
    & p {
      font-weight: 300;
      line-height: 140%;
      margin-top: 25px;
      margin-bottom: 32px;
    }
  }
  
  .newsletter {
    max-width: 560px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    & form {
      margin: 48px;
      & label {
        font-size: 18px;
        font-weight: 300;
        color: $white-color;
        text-transform: uppercase;
        line-height: 140%;
        letter-spacing: 0.05em;
      }
      & input,
      textarea {
        border: 1px solid #676DA2;
        box-sizing: border-box;
        border-radius: 1px;
        background-color: transparent;
        height: 64px;
        color: $white-color;
        &:hover,
         :focus,
         :focus-within,
         :active,
         :visited {
          border: 1px solid #676DA2;
          box-sizing: border-box;
          border-radius: 1px;
          background-color: transparent;
          height: 64px;
          color: $white-color;
        }
      }
    }
  }
  
  .img-container {
    width: 100%;
    height: auto;
    & .featured-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .class-item {
    overflow: hidden;
    margin-bottom: 30px;
    .ci-pic {
      img {
        min-width: 100%;
      }
    }
    .ci-text {
      background: $seconday-color;
      position: relative;
      padding: 10px 30px 26px 30px;
      z-index: 1;
      &:after {
        position: absolute;
        left: -5px;
        top: -44px;
        height: 100px;
        width: 600px;
        border-top: 4px solid #464646;
        background: #0a0a0a;
        content: "";
        -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
        z-index: -1;
      }
      span {
        color: $primary-color;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
      }
      h5 {
        font-size: 20px;
        color: $white-color;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 4px;
      }
      h4 {
        font-size: 26px;
        color: $white-color;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 4px;
      }
      a {
        display: inline-block;
        width: 46px;
        height: 46px;
        background: rgb(255, 255, 255, .1);
        line-height: 46px;
        text-align: center;
        font-size: 24px;
        color: $white-color;
        position: absolute;
        right: 30px;
        bottom: 26px;
      }
    }
  }
  /*---------------------
  Banner Section
-----------------------*/
  
  .banner {
    background-color: $heading-color;
    text-align: center;
    a {
      color: $primary-color !important;
      &:hover {
        color: $primary-color !important;
      }
    }
  }
  
  .banner-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    & .banner-bg {
      max-width: 1700px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 80px 88px;
      background: #1F2133;
      box-shadow: 0px 23px 24px 3px rgba(0, 0, 0, 0.12);
      border-radius: 1px;
    }
    & h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 140%;
    }
    & p {
      font-size: 20px;
      font-weight: 300;
      line-height: 140%;
    }
    & .banner-buttons {
      text-align: right;
    }
    & .icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $seconday-color;
      width: 174px;
      height: 174px;
      border-radius: 100%;
    }
    & .contact-icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $seconday-color;
      width: 96px;
      height: 96px;
      border-radius: 100%;
    }
  }
  
  .banner-section-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    & .banner-bg {
      width: 100%;
      height: 100%;
      padding-top: 100px;
      padding-bottom: 100px;
      background-image: url('../images/cover-img.jpg');
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }
    & h1 {
      font-size: 112px;
      font-weight: 700;
      line-height: 140%;
    }
    & p {
      font-size: 20px;
      font-weight: 300;
      line-height: 140%;
    }
  }
  
  .bs-text {
    &.service-banner {
      .bt-tips {
        margin-bottom: 35px;
      }
    }
    h2 {
      font-size: 48px;
      color: $white-color;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    .bt-tips {
      font-size: 20px;
      color: #c4c4c4;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 45px;
    }
    .primary-btn {
      background-color: transparent;
      border: 2px solid $primary-color;
    }
    .secondary-btn {
      background-color: transparent;
      border: 1px solid #F9A307;
      box-sizing: border-box;
      border-radius: 1px;
    }
    .play-btn {
      display: inline-block;
      height: 70px;
      width: 70px;
      background: $primary-color;
      border-radius: 50%;
      line-height: 70px;
      text-align: center;
      font-size: 36px;
      color: $white-color;
    }
  }
  /*---------------------
  Pricing Section
-----------------------*/
  
  .pricing-section {
    & .section-title {
      margin-bottom: 64px;
    }
    & h1 {
      font-weight: 600;
    }
  }
  
  .ps-item {
    font-family: 'IBM Plex Sans', sans-serif !important;
    text-align: center;
    padding: 40px 30px 52px;
    border: 1px solid #676DA2;
    -webkit-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    margin-bottom: 30px;
    position: relative;
    &:hover {
      background: $white-color;
      border-color: $white-color;
      h3 {
        color: $seconday-color;
      }
      .pi-price {
        span {
          color: $para-color;
        }
      }
      ul {
        li {
          color: $para-color;
          font-weight: 300;
        }
      }
      .primary-btn.pricing-btn {
        background-color: $primary-color;
      }
      .secondary-btn.pricing-btn {
        background-color: transparent;
        border: 1px solid #F9A307;
        box-sizing: border-box;
        border-radius: 1px;
        color: $primary-color;
        &:hover {
          background-color: $primary-color;
          color: #010101;
        }
      }
    }
    h3 {
      font-size: 32px;
      color: $white-color;
      font-weight: 500;
      margin-bottom: 16px;
      -webkit-transform: skewY(4deg);
      -ms-transform: skewY(4deg);
      transform: skewY(4deg);
    }
    .pi-price {
      margin-bottom: 30px;
      -webkit-transform: skewY(4deg);
      -ms-transform: skewY(4deg);
      transform: skewY(4deg);
      h2 {
        font-size: 56px;
        color: $primary-color;
        font-weight: 600;
        margin-bottom: 16px;
      }
      span {
        color: $white-color;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
    ul {
      margin-bottom: 64px;
      -webkit-transform: skewY(4deg);
      -ms-transform: skewY(4deg);
      transform: skewY(4deg);
      li {
        font-size: 16px;
        font-weight: 300;
        color: $text-color;
        line-height: 150%;
        list-style: none;
      }
    }
    .primary-btn.pricing-btn {
      display: block;
      background-color: $primary-color;
      -webkit-transform: skewY(4deg);
      -ms-transform: skewY(4deg);
      transform: skewY(4deg);
    }
    .secondary-btn.pricing-btn {
      display: block;
      background-color: transparent;
      -webkit-transform: skewY(4deg);
      -ms-transform: skewY(4deg);
      transform: skewY(4deg);
    }
  }
  /*---------------------
  Gallery Section
-----------------------*/
  
  .gallery-section {
    background: $heading-color;
    overflow: hidden;
    &.gallery-page {
      padding-top: 10px;
    }
  }
  
  .grid-sizer {
    width: calc(25% - 10px);
  }
  
  .gallery {
    margin-right: -10px;
    .gs-item {
      height: 472px;
      width: calc(25% - 10px);
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      &:hover {
        .thumb-icon {
          opacity: 1;
          visibility: visible;
        }
      }
      .thumb-icon {
        font-size: 48px;
        color: $primary-color;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
      }
      &.grid-wide {
        width: calc(50% - 10px);
      }
    }
  }
  /*---------------------
  Team Section
-----------------------*/
  
  .team-section {
    & .blog-container {
      max-width: 1548px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      &.blog-container-content {
        max-width: 760px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    & .featured-blog {
      background-color: $heading-color;
    }
    & .blog-img-container {
      width: 100%;
      height: auto;
      & .blog-featured-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    & .description {
      max-width: 756px;
      width: 100%;
      margin: auto;
      padding: 32px;
      & .author {
        font-size: 13px;
        font-weight: 500;
        line-height: 140%;
        color: $white-color;
        text-transform: uppercase;
      }
      & h1 {
        font-size: 40px;
        font-weight: 500;
      }
      & p {
        font-size: 18px;
        font-weight: 200;
        color: $text-color;
        line-height: 170%;
      }
      & blockquote {
        font-weight: 500;
        font-size: 32px;
        line-height: 150%;
        color: $text-color;
      }
    }
    & .blogs {
      border: 1px solid #676DA2;
      box-sizing: border-box;
      padding: 32px;
      & .author {
        font-size: 13px;
        font-weight: 500;
        line-height: 140%;
        color: $white-color;
        text-transform: uppercase;
      }
      & h1 {
        font-size: 32px;
        font-weight: 500;
      }
      & p {
        font-size: 18px;
        font-weight: 200;
        color: $text-color;
        line-height: 140%;
      }
    }
    & a {
      color: $primary-color;
      &:hover {
        text-decoration: none;
        color: $primary-color;
      }
    }
  }
  
  .team-title {
    .section-title {
      text-align: left;
      float: left;
    }
  }
  
  .primary-btn.appoinment-btn {
    background: transparent;
    border: 2px solid #f36100;
    float: right;
    margin-top: 10px;
  }
  
  .ts-slider {
    .col-lg-4 {
      max-width: 100%;
    }
    &.owl-carousel {
      .owl-dots {
        text-align: center;
        margin-top: 30px;
        button {
          height: 4px;
          width: 20px;
          background: #5c5c5c;
          margin-right: 15px;
          -webkit-transform: skewY(-5deg);
          -ms-transform: skewY(-5deg);
          transform: skewY(-5deg);
          &.active {
            background: $primary-color;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  
  .ts-item {
    height: 450px;
    position: relative;
    overflow: hidden;
    &:hover {
      .ts_text {
        bottom: -35px;
      }
    }
    .ts_text {
      padding: 40px 0 60px;
      text-align: center;
      background: $seconday-color;
      border-top: 4px solid #464646;
      -webkit-transform: skewY(-5deg);
      -ms-transform: skewY(-5deg);
      transform: skewY(-5deg);
      position: absolute;
      left: 0;
      bottom: -250px;
      width: 100%;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      h4 {
        color: $white-color;
        font-weight: 600;
        margin-bottom: 14px;
        -webkit-transform: skewY(5deg);
        -ms-transform: skewY(5deg);
        transform: skewY(5deg);
      }
      span {
        display: block;
        font-size: 12px;
        font-weight: 700;
        color: #aaaaaa;
        text-transform: uppercase;
        -webkit-transform: skewY(5deg);
        -ms-transform: skewY(5deg);
        transform: skewY(5deg);
      }
    }
  }
  
  #sgFAQ {
    & .card {
      background-color: #11121C;
      color: $text-color;
      border-bottom: 1px solid $para-color;
      & .btn {
        padding-left: 0;
        padding-right: 0;
        color: $white-color;
        text-align: left;
      }
      & .card-header {
        letter-spacing: 2px;
      }
      & .card-body {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 140%;
      }
    }
  }
  
  .sign-in {
    & .card {
      background-color: #1F2133;
      color: $text-color;
      padding-top: 32px;
      padding-bottom: 32px;
      & .card-header {
        letter-spacing: 2px;
      }
      & .container {
        max-width: 560px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      & .card-body {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 140%;
      }
      & label {
        color: $text-color;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 300;
      }
      & .form-control {
        height: 64px !important;
        border: 1px solid $para-color !important;
        background-color: transparent !important;
        &:hover {
          height: 64px !important;
          border: 1px solid $para-color !important;
          background-color: transparent !important;
        }
      }
      & .btn-link {
        color: $text-color;
        text-transform: uppercase;
        padding: 0;
      }
    }
    & a {
      color: $text-color;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 300;
      &:hover {
        color: $text-color;
      }
    }
  }
  
  .user-form {
    width: 100%;
    & label {
      color: $heading-color;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 300;
    }
    & .form-control {
      height: 64px !important;
      border: 1px solid $para-color !important;
      background-color: transparent !important;
      &:hover {
        height: 64px !important;
        border: 1px solid $para-color !important;
        background-color: transparent !important;
      }
    }
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .user-img {
    & a {
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 0.12em;
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: #1F2133;
      &:hover {
        color: #1F2133;
      }
    }
  }
  /*---------------------
  Get Touch Section
-----------------------*/
  
  .gettouch-section {
    background: $seconday-color;
    padding: 30px 0 15px;
  }
  
  .gt-text {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 30px;
    i {
      font-size: 30px;
      color: $white-color;
      display: inline-block;
      height: 65px;
      width: 65px;
      background: $primary-color;
      border-radius: 50%;
      line-height: 65px;
      text-align: center;
      float: left;
      margin-right: 20px;
    }
    p {
      text-transform: uppercase;
      font-weight: 300;
      overflow: hidden;
      color: $white-color;
      margin-bottom: 0;
    }
    &.email {
      p {
        padding-top: 20px;
      }
    }
  }
  /*---------------------
  Footer
-----------------------*/
  
  .footer-section {
    max-width: 1790px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgba(248, 240, 240, 0.12);
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .fs-about {
    margin-bottom: 30px;
    .fa-logo {
      margin-bottom: 30px;
      a {
        display: inline-block;
      }
    }
    p {
      line-height: 26px;
      color: #c4c4c4;
    }
    .fa-social {
      a {
        font-size: 14px;
        color: #c4c4c4;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  
  .fs-widget {
    margin-bottom: 30px;
    h4 {
      color: $white-color;
      font-weight: 500;
      margin-bottom: 18px;
    }
    ul {
      li {
        list-style: none;
        a {
          font-size: 16px;
          color: $text-color;
          line-height: 170%;
          text-transform: uppercase;
        }
      }
    }
    .fw-recent {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #1a1a1a;
      &:last-child {
        padding-bottom: 0;
        border: none;
      }
      h6 {
        margin-bottom: 6px;
        a {
          color: #c4c4c4;
          letter-spacing: 0.5px;
        }
      }
      ul {
        li {
          font-size: 12px;
          color: #4d4d4d;
          display: inline-block;
          margin-right: 25px;
          position: relative;
          &:last-child {
            &:after {
              display: none;
            }
          }
          &:after {
            position: absolute;
            right: -16px;
            top: 0;
            content: "|";
          }
        }
      }
    }
  }
  
  .copyright-text {
    font-size: 14px;
    color: #c4c4c4;
    letter-spacing: 0.5px;
    border-top: 1px solid #1a1a1a;
    padding: 25px 0;
    margin-top: 15px;
    a,
    i {
      color: $primary-color;
    }
  }
  /* ----------------------------------- Other Pages Styles ----------------------------------- */
  /*---------------------
  Breadcrumb Section
-----------------------*/
  
  .breadcrumb-section {
    height: 500px;
    padding-top: 230px;
  }
  
  .breadcrumb-text {
    h2 {
      font-size: 60px;
      color: $white-color;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    .bt-option {
      a {
        font-size: 18px;
        color: $white-color;
        font-weight: 700;
        display: inline-block;
        position: relative;
        margin-right: 20px;
        &:after {
          position: absolute;
          right: -14px;
          top: 6px;
          font-family: "FontAwesome";
          content: "\f105";
          font-size: 13px;
          font-weight: 400;
        }
      }
      span {
        font-size: 18px;
        color: $primary-color;
        font-weight: 700;
      }
    }
  }
  /*---------------------
  About Us Section
-----------------------*/
  
  .about-video {
    height: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .play-btn {
      display: inline-block;
      height: 70px;
      width: 70px;
      background: $primary-color;
      border-radius: 50%;
      line-height: 70px;
      text-align: center;
      font-size: 36px;
      color: $white-color;
    }
  }
  
  .about-text {
    background: #000000;
    height: 640px;
    padding: 120px 70px 0 70px;
    .section-title {
      text-align: left;
      margin-bottom: 30px;
    }
    .at-desc {
      margin-bottom: 27px;
      p {
        color: #c4c4c4;
      }
    }
    .about-bar {
      .ab-item {
        margin-bottom: 34px;
        p {
          color: $white-color;
          margin-bottom: 13px;
        }
        .barfiller {
          background: #2d2d2d;
          height: 5px;
          border: none;
          margin-bottom: 0;
        }
        .barfiller .tip {
          margin-top: 0;
          padding: 0;
          font-size: 14px;
          color: $white-color;
          background: transparent;
          position: initial !important;
          float: right;
          margin-top: -40px;
          &:after {
            display: none;
          }
        }
      }
    }
  }
  /*---------------------
  Testimonial Section
-----------------------*/
  
  .testimonial-section {
    background: $heading-color;
  }
  
  .ts_slider {
    &.owl-carousel {
      .owl-item {
        img {
          display: inline-block;
        }
      }
      .owl-nav {
        button {
          height: 46px;
          width: 46px;
          color: #a9a9a9;
          background: rgb(255, 255, 255, .1);
          line-height: 46px;
          text-align: center;
          font-size: 24px;
          position: absolute;
          left: 30px;
          top: 50%;
          -webkit-transform: translateY(-23px);
          -ms-transform: translateY(-23px);
          transform: translateY(-23px);
          &.owl-next {
            left: auto;
            right: 30px;
          }
        }
      }
    }
    .ts_item {
      .ti_pic {
        margin-bottom: 32px;
        img {
          height: 200px;
          width: 200px;
          border-radius: 50%;
        }
      }
      .ti_text {
        p {
          color: #fefefe;
          letter-spacing: 1px;
          margin-bottom: 20px;
        }
        h5 {
          color: $white-color;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 8px;
        }
        .tt-rating {
          i {
            font-size: 12px;
            color: #d49d09;
          }
        }
      }
    }
  }
  /*---------------------
  Services Section
-----------------------*/
  
  .services-section {
    background: $heading-color;
  }
  
  .ss-pic {
    img {
      height: 100%;
      min-width: 100%;
    }
  }
  
  .ss-text {
    background: #252525;
    padding: 72px 30px;
    height: 293px;
    position: relative;
    z-index: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    &:hover {
      background: #363636;
      a {
        color: $primary-color;
      }
      &:after {
        background: #363636;
      }
    }
    &:after {
      position: absolute;
      left: -15px;
      top: 50%;
      height: 20px;
      width: 20px;
      background: #252525;
      content: "";
      -webkit-transform: rotate(45deg) translateY(-10px);
      -ms-transform: rotate(45deg) translateY(-10px);
      transform: rotate(45deg) translateY(-10px);
      z-index: -1;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
    }
    &.second-row {
      &:after {
        left: auto;
        right: 0;
      }
    }
    h4 {
      font-size: 22px;
      color: $white-color;
      font-weight: 600;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 11px;
    }
    a {
      font-size: 14px;
      color: $white-color;
      font-weight: 700;
      text-transform: uppercase;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }
  }
  /*---------------------
  Class Timetable Section
-----------------------*/
  
  .class-timetable-section {
    background: $heading-color;
    &.class-details-timetable {
      padding-top: 0;
    }
    .section-title {
      text-align: left;
    }
  }
  
  .class-details-timetable_title {
    margin-bottom: 35px;
    h5 {
      font-size: 20px;
      color: $white-color;
      font-weight: 600;
    }
  }
  
  .table-controls {
    text-align: right;
    margin-top: 14px;
    margin-bottom: 50px;
    ul {
      background: #000000;
      padding: 12px 30px 15px;
      display: inline-block;
      li {
        list-style: none;
        font-size: 14px;
        color: #aaaaaa;
        list-style: none;
        display: inline-block;
        margin-right: 35px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        cursor: pointer;
        position: relative;
        &:after {
          position: absolute;
          right: -22px;
          top: 0;
          content: "/";
        }
        &.active {
          color: $white-color;
          &:after {
            color: #aaaaaa;
          }
        }
        &:last-child {
          margin-right: 0;
          &:after {
            display: none;
          }
        }
      }
    }
  }
  
  .class-timetable {
    .ts-meta {
      h5,
      span {
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
      }
    }
    &.filtering {
      .ts-meta {
        h5,
        span {
          opacity: 0;
        }
        &.show {
          h5,
          span {
            opacity: 1;
          }
        }
      }
    }
  }
  
  .class-timetable {
    &.details-timetable {
      td {
        h5 {
          color: #ffffff1a;
        }
        span {
          color: #363636;
        }
        &.hover-dp {
          h5 {
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s;
          }
          span {
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s;
          }
          &:hover {
            h5 {
              color: $white-color;
            }
            span {
              color: #a9a9a9;
            }
          }
        }
        &.dark-bg {
          background: #0a0a0a;
        }
      }
    }
    table {
      border: 1px solid #363636;
      text-align: center;
      thead {
        border-bottom: 1px solid #363636;
        tr {
          th {
            font-size: 14px;
            color: $white-color;
            background: $primary-color;
            border-right: 1px solid #363636;
            padding: 15px 0;
            font-weight: 400;
          }
        }
      }
      tbody {
        tr {
          td {
            width: 146px;
            padding: 35px 0;
            &.class-time {
              font-size: 12px;
              color: $primary-color;
              background: #000000;
              border: 1px solid #363636;
            }
            &.dark-bg {
              background: #090909;
            }
            &.hover-bg {
              -webkit-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s;
              &:hover {
                background: $primary-color;
              }
            }
            &.blank-td {
              position: relative;
              overflow: hidden;
              &:after {
                position: absolute;
                left: -47px;
                top: 59px;
                width: 237px;
                height: 1px;
                background: #363636;
                content: "";
                -webkit-transform: rotate(-40deg);
                -ms-transform: rotate(-40deg);
                transform: rotate(-40deg);
              }
            }
            h5 {
              color: $white-color;
              font-weight: 600;
              text-transform: uppercase;
              margin-bottom: 10px;
            }
            span {
              display: block;
              font-size: 12px;
              color: #a9a9a9;
            }
          }
        }
      }
    }
  }
  /*---------------------
  Class Details Section
-----------------------*/
  
  .class-details-section {
    background: $heading-color;
    padding-bottom: 60px;
  }
  
  .class-details-text {
    .cd-pic {
      margin-bottom: 45px;
      img {
        min-width: 100%;
      }
    }
    .cd-text {
      margin-bottom: 33px;
      .cd-single-item {
        h3 {
          color: $white-color;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 28px;
        }
        p {
          color: #c4c4c4;
        }
      }
    }
    .cd-trainer {
      .cd-trainer-pic {
        img {
          min-width: 100%;
        }
      }
      .cd-trainer-text {
        position: relative;
        .trainer-title {
          margin-bottom: 18px;
          h4 {
            color: $white-color;
            font-weight: 600;
            margin-bottom: 6px;
          }
          span {
            font-size: 12px;
            color: #aaaaaa;
            text-transform: uppercase;
          }
        }
        .trainer-social {
          position: absolute;
          right: 0;
          top: 20px;
          a {
            display: inline-block;
            font-size: 14px;
            color: #c4c4c4;
            margin-right: 9px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        p {
          color: #c4c4c4;
        }
        .trainer-info {
          margin-top: 28px;
          margin-bottom: 26px;
          li {
            font-size: 14px;
            color: #c4c4c4;
            list-style: none;
            padding-bottom: 8px;
            border-bottom: 1px solid #252525;
            margin-bottom: 10px;
            &:last-child {
              padding-bottom: 0;
              margin-bottom: 0;
              border-bottom: none;
            }
            span {
              color: $white-color;
              font-weight: 700;
              width: 150px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
  
  .sidebar-option {
    padding-left: 40px;
    .so-categories {
      margin-bottom: 40px;
      .title {
        font-size: 20px;
        color: $white-color;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 24px;
      }
      ul {
        li {
          list-style: none;
          &:hover {
            a {
              color: $primary-color;
              span {
                color: $white-color;
              }
            }
          }
          a {
            font-size: 14px;
            color: #c4c4c4;
            line-height: 40px;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            span {
              font-size: 12px;
              float: right;
            }
          }
        }
      }
    }
    .so-latest {
      margin-bottom: 60px;
      .title {
        font-size: 20px;
        color: $white-color;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 40px;
      }
      .latest-large {
        height: 200px;
        position: relative;
        margin-bottom: 30px;
        .ll-text {
          position: absolute;
          left: 0;
          bottom: 18px;
          width: 100%;
          padding: 0 25px;
          h5 {
            a {
              color: $white-color;
              font-weight: 600;
              line-height: 23px;
            }
          }
          ul {
            li {
              list-style: none;
              font-size: 12px;
              color: #888888;
              position: relative;
              display: inline-block;
              margin-right: 25px;
              &:last-child {
                margin-right: 0;
                &:after {
                  display: none;
                }
              }
              &:after {
                position: absolute;
                right: -16px;
                top: 0;
                content: "|";
              }
            }
          }
        }
      }
      .latest-item {
        overflow: hidden;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
        .li-pic {
          float: left;
          margin-right: 20px;
          img {}
        }
        .li-text {
          overflow: hidden;
          h6 {
            a {
              font-size: 15px;
              color: $white-color;
              line-height: 21px;
            }
          }
          .li-time {
            display: inline-block;
            font-size: 12px;
            color: #888888;
          }
        }
      }
    }
    .so-banner {
      height: 300px;
      position: relative;
      h5 {
        font-size: 20px;
        font-weight: 600;
        color: $white-color;
        text-transform: uppercase;
        position: absolute;
        left: 0;
        bottom: 30px;
        width: 100%;
        padding: 0 30px;
      }
    }
    .so-tags {
      .title {
        font-size: 20px;
        color: $white-color;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 40px;
      }
      a {
        display: inline-block;
        font-size: 14px;
        color: #c4c4c4;
        padding: 10px 15px;
        background: #252525;
        margin-right: 5px;
        margin-bottom: 10px;
      }
    }
  }
  /*------------------------
  Bmi Calculator Section
-------------------------*/
  
  .bmi-calculator-section {
    background: $heading-color;
  }
  
  .section-title {
    &.chart-title {
      text-align: left;
    }
  }
  
  .chart-table {
    table {
      border: 1px solid #363636;
      width: 100%;
      thead {
        border-bottom: 1px solid #363636;
        tr {
          th {
            background: #060606;
            font-size: 14px;
            color: $white-color;
            font-weight: 500;
            text-transform: uppercase;
            border-right: 1px solid #363636;
            padding: 14px 0 11px 50px;
          }
        }
      }
      tbody {
        tr {
          &:nth-child(even) {
            background: #111111;
          }
          td {
            font-size: 14px;
            color: #c4c4c4;
            border-right: 1px solid #363636;
            padding: 17px 0 17px 50px;
            &.point {
              width: 200px;
            }
          }
        }
      }
    }
  }
  
  .section-title.chart-calculate-title {
    text-align: left;
  }
  
  .chart-calculate-form {
    p {
      color: #c4c4c4;
      margin-bottom: 24px;
    }
    form {
      input {
        font-size: 14px;
        color: #c4c4c4;
        width: 100%;
        height: 50px;
        border: 1px solid #363636;
        padding-left: 20px;
        padding-right: 5px;
        background: transparent;
        margin-bottom: 20px;
        &::-webkit-input-placeholder {
          color: #c4c4c4;
        }
        &::-moz-placeholder {
          color: #c4c4c4;
        }
        &:-ms-input-placeholder {
          color: #c4c4c4;
        }
        &::-ms-input-placeholder {
          color: #c4c4c4;
        }
        &::placeholder {
          color: #c4c4c4;
        }
      }
      button {
        font-size: 14px;
        color: $white-color;
        text-transform: uppercase;
        font-weight: 700;
        width: 100%;
        border: none;
        padding: 15px 0;
        background: $primary-color;
      }
    }
  }
  /*---------------------
  Blog Section
-----------------------*/
  
  .blog-section {
    background: $heading-color;
    .sidebar-option {
      padding-left: 70px;
    }
  }
  
  .blog-item {
    margin-bottom: 40px;
    .bi-pic {
      float: left;
      img {
        width: 360px;
        height: 240px;
        min-width: 100%;
      }
    }
    .bi-text {
      border: 1px solid #363636;
      overflow: hidden;
      height: 240px;
      padding: 32px 30px 0 30px;
      h5 {
        margin-bottom: 10px;
        a {
          font-size: 20px;
          color: $white-color;
          font-weight: 600;
          line-height: 28px;
        }
      }
      ul {
        margin-bottom: 18px;
        li {
          font-size: 12px;
          color: #888888;
          display: inline-block;
          list-style: none;
          margin-right: 25px;
          position: relative;
          &:after {
            position: absolute;
            right: -15px;
            top: 0;
            content: "|";
          }
          &:last-child {
            margin-right: 0;
            &:after {
              display: none;
            }
          }
        }
      }
      p {
        color: #c4c4c4;
        line-height: 22px;
        margin-bottom: 0;
      }
    }
  }
  
  .blog-pagination {
    padding-top: 10px;
    a {
      display: inline-block;
      font-size: 18px;
      color: $white-color;
      text-transform: uppercase;
      padding: 10px 20px;
      font-weight: 500;
      margin-right: 15px;
      background: #252525;
      font-family: 'Oswald', sans-serif;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: #555555;
      }
    }
  }
  /*--------------------------
  Blog Detils Hero Section
--------------------------*/
  
  .blog-details-hero {
    height: 900px;
    padding-top: 365px;
  }
  
  .bh-text {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 40px 50px 34px 50px;
    h3 {
      color: $white-color;
      font-weight: 600;
      line-height: 39px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    ul {
      li {
        font-size: 12px;
        color: #888888;
        display: inline-block;
        list-style: none;
        margin-right: 25px;
        position: relative;
        &:after {
          position: absolute;
          right: -15px;
          top: 0;
          content: "|";
        }
        &:last-child {
          margin-right: 0;
          &:after {
            display: none;
          }
        }
      }
    }
  }
  /*---------------------
  Blog Details Section
-----------------------*/
  
  .blog-details-section {
    background: $heading-color;
    padding-top: 80px;
    overflow: hidden;
  }
  
  .blog-details-text {
    .blog-details-title {
      text-align: center;
      margin-bottom: 32px;
      p {
        color: #c4c4c4;
        &:first-child {
          margin-bottom: 25px;
        }
      }
      h5 {
        font-size: 20px;
        color: $white-color;
        font-weight: 600;
        padding-top: 5px;
        margin-bottom: 28px;
      }
    }
    .blog-details-pic {
      margin-right: -10px;
      overflow: hidden;
      margin-bottom: 22px;
      .blog-details-pic-item {
        width: calc(50% - 10px);
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        img {
          min-width: 100%;
        }
      }
    }
    .blog-details-desc {
      text-align: center;
      margin-bottom: 60px;
      p {
        color: #c4c4c4;
      }
    }
    .blog-details-quote {
      text-align: center;
      border: 2px solid #363636;
      padding: 40px 22px 25px;
      position: relative;
      margin-bottom: 30px;
      .quote-icon {
        position: absolute;
        left: 50%;
        top: -26px;
        height: 55px;
        width: 55px;
        background: $heading-color;
        border: 2px solid #363636;
        line-height: 47px;
        text-align: center;
        border-radius: 50%;
        -webkit-transform: translateX(-27.5px);
        -ms-transform: translateX(-27.5px);
        transform: translateX(-27.5px);
      }
      h5 {
        font-size: 20px;
        color: $white-color;
        line-height: 30px;
        margin-bottom: 6px;
      }
      span {
        font-size: 15px;
        color: #888888;
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    .blog-details-more-desc {
      text-align: center;
      margin-bottom: 40px;
      p {
        color: #c4c4c4;
        &:first-child {
          margin-bottom: 25px;
        }
      }
    }
    .blog-details-tag-share {
      text-align: center;
      margin-bottom: 100px;
      .tags {
        margin-bottom: 25px;
        a {
          display: inline-block;
          font-size: 14px;
          color: #c4c4c4;
          padding: 10px 15px;
          background: #252525;
          margin-right: 5px;
          margin-bottom: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .share {
        span {
          font-size: 14px;
          color: #c4c4c4;
          text-transform: uppercase;
          margin-right: 30px;
        }
        a {
          font-size: 14px;
          color: #c4c4c4;
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
          i {
            color: $white-color;
            margin-right: 5px;
          }
        }
      }
    }
    .blog-details-author {
      text-align: center;
      background: #0a0a0a;
      position: relative;
      padding: 70px 50px 35px 50px;
      margin-bottom: 55px;
      .ba-pic {
        position: absolute;
        top: -45px;
        left: 50%;
        -webkit-transform: translateX(-45px);
        -ms-transform: translateX(-45px);
        transform: translateX(-45px);
        img {
          height: 90px;
          width: 90px;
          border-radius: 50%;
        }
      }
      .ba-text {
        h5 {
          font-size: 20px;
          color: $white-color;
          font-weight: 500;
          text-transform: uppercase;
          margin-bottom: 15px;
        }
        p {
          color: #c4c4c4;
        }
        .bp-social {
          a {
            font-size: 13px;
            color: #c4c4c4;
            margin-right: 10px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    .comment-option {
      .co-title {
        font-size: 20px;
        color: $white-color;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 40px;
      }
      .co-widget {
        position: absolute;
        right: 0;
        top: 5px;
        a {
          font-size: 14px;
          color: #c4c4c4;
          margin-left: 8px;
        }
      }
      .co-item {
        position: relative;
        padding-left: 30px;
        margin-bottom: 35px;
        &.reply-comment {
          margin-left: 30px;
        }
        &:after {
          position: absolute;
          left: 0;
          top: 0;
          width: 1px;
          height: 100%;
          background: #363636;
          content: "";
        }
        .co-pic {
          overflow: hidden;
          margin-bottom: 12px;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            float: left;
            margin-right: 10px;
          }
          h5 {
            color: $white-color;
            overflow: hidden;
            line-height: 30px;
          }
        }
        .co-text {
          p {
            color: #c4c4c4;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  
  .leave-comment {
    h5 {
      font-size: 20px;
      color: $white-color;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    form {
      input {
        font-size: 13px;
        color: #c4c4c4;
        width: 100%;
        height: 46px;
        border: 1px solid #363636;
        padding-left: 20px;
        padding-right: 5px;
        background: transparent;
        margin-bottom: 20px;
        &::-webkit-input-placeholder {
          color: #c4c4c4;
        }
        &::-moz-placeholder {
          color: #c4c4c4;
        }
        &:-ms-input-placeholder {
          color: #c4c4c4;
        }
        &::-ms-input-placeholder {
          color: #c4c4c4;
        }
        &::placeholder {
          color: #c4c4c4;
        }
      }
      textarea {
        font-size: 13px;
        color: #c4c4c4;
        width: 100%;
        height: 100px;
        border: 1px solid #363636;
        padding-left: 20px;
        padding-top: 12px;
        padding-right: 5px;
        background: transparent;
        margin-bottom: 14px;
        resize: none;
        &::-webkit-input-placeholder {
          color: #c4c4c4;
        }
        &::-moz-placeholder {
          color: #c4c4c4;
        }
        &:-ms-input-placeholder {
          color: #c4c4c4;
        }
        &::-ms-input-placeholder {
          color: #c4c4c4;
        }
        &::placeholder {
          color: #c4c4c4;
        }
      }
      button {
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        width: 100%;
        border: none;
        padding: 14px 0 12px;
        background: $primary-color;
      }
    }
  }
  /*---------------------
  Contact Section
-----------------------*/
  
  .contact-section {
    background: $heading-color;
  }
  
  .section-title.contact-title {
    text-align: left;
    margin-bottom: 35px;
  }
  
  .contact-widget {
    .cw-text {
      overflow: hidden;
      margin-bottom: 35px;
      i {
        font-size: 30px;
        color: $primary-color;
        display: inline-block;
        height: 65px;
        width: 65px;
        background: #363636;
        border-radius: 50%;
        line-height: 65px;
        text-align: center;
        float: left;
        margin-right: 20px;
      }
      p {
        overflow: hidden;
        color: #c4c4c4;
        margin-bottom: 0;
        padding-top: 10px;
      }
      ul {
        overflow: hidden;
        padding-top: 20px;
        li {
          list-style: none;
          font-size: 14px;
          color: #c4c4c4;
          margin-right: 25px;
          display: inline-block;
          position: relative;
          &:after {
            position: absolute;
            right: -18px;
            top: 0;
            content: "|";
            color: #545454;
          }
          &:last-child {
            margin-right: 0;
            &:after {
              display: none;
            }
          }
        }
      }
      &.email {
        p {
          padding-top: 20px;
        }
      }
    }
  }
  
  .map {
    height: 550px;
    margin-top: 35px;
    iframe {
      width: 100%;
    }
  }
  /*---------------------
  404 Section
-----------------------*/
  
  .section-404 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .text-404 {
    text-align: center;
    h1 {
      font-size: 200px;
      color: $white-color;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }
    h3 {
      color: $white-color;
      font-weight: 500;
      margin-bottom: 20px;
    }
    p {
      font-size: 15px;
      color: #c4c4c4;
      margin-bottom: 43px;
    }
    .search-404 {
      position: relative;
      width: 470px;
      margin: 0 auto 35px;
      input {
        font-size: 15px;
        color: #ffffffb3;
        height: 46px;
        width: 100%;
        background: $primary-color;
        border: none;
        padding-left: 20px;
        &::-webkit-input-placeholder {
          color: #ffffffb3;
        }
        &::-moz-placeholder {
          color: #ffffffb3;
        }
        &:-ms-input-placeholder {
          color: #ffffffb3;
        }
        &::-ms-input-placeholder {
          color: #ffffffb3;
        }
        &::placeholder {
          color: #ffffffb3;
        }
      }
      button {
        font-size: 16px;
        color: $white-color;
        background: transparent;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        padding: 11px 20px 11px;
      }
    }
    a {
      font-size: 15px;
      color: $white-color;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      &:after {
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 1px;
        width: 100%;
        background: #252525;
        content: "";
      }
      i {
        color: $primary-color;
        margin-right: 5px;
      }
    }
  }
  
  // SVGs
  .featureA0 {
    clip-path: url(#a);
  }
  
  .featureA1 {
    fill: $primary-color;
  }
  /*--------------------------------- Responsive Media Quaries -----------------------------*/
  
  @media only screen and (min-width: 1650px) and (max-width: 1920px) {
    .nav-menu ul li {
      margin-right: 60px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1170px;
    }
    .img-container {
      & .featured-img {
        max-height: 640px;
      }
    }
  }
  /* Medium Device = 1200px */
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nav-menu ul li {
      margin-right: 5px;
    }
    .ps-item .thumb-icon {
      left: 15px;
    }
    .blog-item .bi-pic {
      float: none;
    }
    .blog-item .bi-text {
      height: auto;
      padding: 32px 30px 30px 30px;
    }
    .blog-item .bi-pic img {
      height: auto;
    }
    .services {
      & .description {
        padding: 64px;
      }
    }
  }
  /* Tablet Device = 768px */
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .services {
      & .description {
        padding: 64px;
      }
    }
    .about-text {
      height: auto;
      padding: 120px 70px 60px 70px;
    }
    .blog-section .sidebar-option {
      padding-left: 0;
    }
    .blog-item .bi-pic {
      float: none;
    }
    .blog-item .bi-text {
      height: auto;
      padding: 32px 30px 30px 30px;
    }
    .class-details-text .cd-trainer .cd-trainer-text {
      padding-top: 30px;
    }
    .sidebar-option {
      padding-left: 0;
      padding-top: 30px;
    }
    .chart-table {
      margin-bottom: 30px;
    }
    .table-controls {
      text-align: left;
      margin-top: 0;
      margin-bottom: 30px;
    }
    .ss-text:after {
      display: none;
    }
    .ss-text {
      padding: 72px 60px;
      margin-bottom: 30px;
    }
    .class-item .ci-text:after {
      width: 750px;
    }
    .ts_slider.owl-carousel .owl-nav button {
      left: 0;
    }
    .ts_slider.owl-carousel .owl-nav button.owl-next {
      right: 0;
    }
    .hs-slider.owl-carousel .owl-nav button {
      left: 0;
    }
    .hs-slider.owl-carousel .owl-nav button.owl-next {
      right: 0;
    }
    .offcanvas-menu-overlay {
      position: fixed;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 999;
      height: 100%;
      width: 100%;
      visibility: hidden;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      &.active {
        visibility: visible;
      }
    }
    .canvas-open {
      position: absolute;
      right: 40px;
      top: 52px;
      font-size: 22px;
      width: 30px;
      height: 30px;
      color: $white-color;
      line-height: 29px;
      text-align: center;
      z-index: 1;
      display: block;
      cursor: pointer;
    }
    .offcanvas-menu-wrapper {
      position: fixed;
      left: -300px;
      top: 0;
      width: 300px;
      z-index: 999;
      background: $white-color;
      overflow-y: auto;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      padding: 50px 30px 30px 30px;
      display: block;
      &.show-offcanvas-menu-wrapper {
        left: 0;
        opacity: 1;
        visibility: visible;
      }
      .canvas-close {
        font-size: 22px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 27px;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
      }
      .canvas-search {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
        cursor: pointer;
      }
      .canvas-menu {
        display: none;
      }
      .canvas-social {
        text-align: center;
        padding-top: 20px;
        a {
          display: inline-block;
          font-size: 16px;
          color: #363636;
          margin-right: 6px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .slicknav_btn {
        display: none;
      }
      .slicknav_menu {
        background: transparent;
        padding: 0;
      }
      .slicknav_nav {
        display: block !important;
      }
      .slicknav_nav ul {
        margin: 0;
      }
      .slicknav_nav .slicknav_row,
      .slicknav_nav a {
        padding: 10px 0;
        margin: 0;
        color: $heading-color;
        border-bottom: 1px solid #151515;
        font-weight: 500;
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
      }
      .slicknav_nav .slicknav_row:hover {
        border-radius: 0;
        background: transparent;
        color: $primary-color;
      }
      .slicknav_nav a:hover {
        border-radius: 0;
        background: transparent;
        color: $primary-color;
      }
    }
    .nav-menu {
      display: none;
    }
    .top-option {
      display: none;
    }
    .grid-sizer {
      width: calc(50% - 10px);
    }
    .gallery .gs-item {
      width: calc(50% - 10px);
      float: none;
    }
    .gallery .gs-item.grid-wide {
      width: 100%;
    }
    .blog-item .bi-pic img {
      height: auto;
    }
  }
  /* Wide Mobile = 480px */
  
  @media only screen and (max-width: 767px) {
    .gt-text {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .contact-icon {
        margin-bottom: 16px;
      }
    }
    .side-desktop {
      display: none;
    }
    .side-mobile {
      display: inline-block;
      a {
        font-family: 'IBM Plex Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $white-color;
        &:hover,
        &:active {
          font-weight: 500;
          color: #F9A307 !important;
        }
      }
    }
    .hero-section {
      & .setBg {
        padding-top: 47%;
        padding-bottom: 45%;
      }
      h1 {
        font-size: 56px;
      }
      h3 {
        font-size: 24px;
      }
      .page-description {
        margin-bottom: 40px;
      }
      & .blog-title {
        font-size: 32px !important;
        line-height: 150%;
      }
    }
    .services {
      & .description {
        padding: 48px;
      }
      & .image {
        margin-bottom: 40px;
      }
    }
    .banner-section {
      & .banner-bg {
        padding: 40px 48px;
      }
      & .banner-buttons {
        text-align: left;
      }
    }
    .banner-section-full {
      & h1 {
        font-size: 64px;
      }
    }
    .offcanvas-menu-overlay {
      position: fixed;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 999;
      height: 100%;
      width: 100%;
      visibility: hidden;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      &.active {
        visibility: visible;
      }
    }
    .canvas-open {
      position: absolute;
      right: 40px;
      top: 52px;
      font-size: 22px;
      width: 30px;
      height: 30px;
      color: $white-color;
      line-height: 29px;
      text-align: center;
      z-index: 1;
      display: block;
      cursor: pointer;
    }
    .offcanvas-menu-wrapper {
      position: fixed;
      left: -300px;
      top: 0;
      width: 300px;
      z-index: 999;
      background: $white-color;
      overflow-y: auto;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      padding: 50px 30px 30px 30px;
      display: block;
      &.show-offcanvas-menu-wrapper {
        left: 0;
        opacity: 1;
        visibility: visible;
      }
      .canvas-close {
        font-size: 22px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 27px;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
      }
      .canvas-search {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
        cursor: pointer;
      }
      .canvas-menu {
        display: none;
      }
      .canvas-social {
        text-align: center;
        padding-top: 20px;
        a {
          display: inline-block;
          font-size: 16px;
          color: #363636;
          margin-right: 6px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .slicknav_btn {
        display: none;
      }
      .slicknav_menu {
        background: transparent;
        padding: 0;
      }
      .slicknav_nav {
        display: block !important;
      }
      .slicknav_nav ul {
        margin: 0;
      }
      .slicknav_nav .slicknav_row,
      .slicknav_nav a {
        padding: 10px 0;
        margin: 0;
        color: $heading-color;
        border-bottom: 1px solid #151515;
        font-weight: 500;
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
      }
      .slicknav_nav .slicknav_row:hover {
        border-radius: 0;
        background: transparent;
        color: $primary-color;
      }
      .slicknav_nav .slicknav_row:hover a {
        color: $primary-color;
      }
      .slicknav_nav a:hover {
        border-radius: 0;
        background: transparent;
        color: $primary-color;
      }
    }
    .nav-menu {
      display: none;
    }
    .top-option {
      display: none;
    }
    .gallery .gs-item {
      width: 100%;
      float: none;
    }
    .gallery .gs-item.grid-wide {
      width: 100%;
    }
    .about-text {
      height: auto;
      padding: 120px 70px 60px 70px;
    }
    .class-timetable {
      overflow-x: auto;
    }
    .chart-table {
      overflow-x: auto;
    }
    .blog-section {
      .p-0 {
        padding: 15px !important;
      }
    }
    .blog-section .sidebar-option {
      padding-left: 0;
    }
    .blog-item .bi-pic {
      float: none;
    }
    .blog-item .bi-text {
      height: auto;
      padding: 32px 30px 30px 30px;
    }
    .class-details-text .cd-trainer .cd-trainer-text {
      padding-top: 30px;
    }
    .sidebar-option {
      padding-left: 0;
      padding-top: 30px;
    }
    .chart-table {
      margin-bottom: 30px;
    }
    .table-controls {
      text-align: left;
      margin-top: 0;
      margin-bottom: 30px;
    }
    .ss-text:after {
      display: none;
    }
    .ss-text {
      padding: 72px 60px;
      height: auto;
    }
    .class-item .ci-text:after {
      width: 750px;
    }
    .hs-slider .hs-item {
      height: auto;
      padding: 250px 0 150px;
    }
    .hs-slider .hs-item .hi-text h1 {
      font-size: 48px;
      line-height: normal;
    }
    .ts_slider.owl-carousel .owl-nav button {
      left: 0;
    }
    .ts_slider.owl-carousel .owl-nav button.owl-next {
      right: 0;
    }
    .hs-slider.owl-carousel .owl-nav button {
      left: 0;
    }
    .hs-slider.owl-carousel .owl-nav button.owl-next {
      right: 0;
    }
    .ss-pic img {
      height: auto;
    }
    .ss-text {
      margin-bottom: 20px;
    }
    .blog-item .bi-pic img {
      height: auto;
    }
    .blog-details-hero {
      height: auto;
      padding: 160px 0 100px;
    }
    .text-404 .search-404 {
      width: 100%;
    }
    .search-model-form input {
      width: 100%;
    }
  }
  /* Small Device = 320px */
  
  @media only screen and (max-width: 479px) {
    .primary-btn.appoinment-btn {
      float: none;
      margin-top: 0;
    }
    .hs-slider .hs-item .hi-text h1 {
      font-size: 38px;
      line-height: normal;
    }
    .team-title {
      margin-bottom: 20px;
    }
    .about-text {
      padding: 70px 15px 60px;
    }
    .blog-details-section .p-0 {
      padding: 15px !important;
    }
    .text-404 h1 {
      font-size: 160px;
    }
    .breadcrumb-text h2 {
      font-size: 38px;
    }
    .text-404 h1 {
      font-size: 80px;
    }
    .blog-details-text .blog-details-author {
      padding: 70px 15px 35px;
    }
    .search-model-form input {
      font-size: 28px;
    }
    .services-cover-gap {
      margin-bottom: 16px !important;
    }
  }